@model IEnumerable<NZWalks.UI.Models.DTO.RegionDto>

<h1 class="mt-3">Regions</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<a class="btn btn-primary mb-3" asp-controller="Regions" asp-action="Create">Add Region</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th> 
            <th>Name</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Code</td>
                <td>@region.Name</td>
                <td> 
                 <a asp-controller="Regions" asp-action="Edit" asp-route-id="@region.Id" class="btn btn-primary">Edit</a>
                 <a asp-controller="Regions" asp-action="Delete" asp-route-id="@region.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
